* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0051ff;
}

.container {
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
}

.container-title {
    font-size: 30px;
    margin-top: 20px;
    justify-content: center;
    color: #fff;
}

.containerInfo {
    display: flex;
    margin-top: 20px;
}

.infoTempo {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.infoTempo > span {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.infoAtual {
    margin-left: 10px;
    font-size: 35px;
    color: #ffd500;;
}